In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [11]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database
latest_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
latest_date
# query_date = dt.latest_date - dt.timedelta(weeks = 52)
# print(query_date)
# print(latest_date)
# print(dt.date.today())

('2017-08-23')

In [ ]:
# Perform a query to retrieve the data and precipitation scores
precip_data = session.query(measurement.prcp, measurement.date).\
    filter(measurement.date >= query_date).order_by(measurement.date.desc()).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_data_df = pd.DataFrame(precip_data).set_index("date", inplace = True)

# Sort the dataframe by date
precip_data_df.sort_values(by='date', ascending=True)

# Use Pandas Plotting with Matplotlib to plot the data
precip_data_df.plot.line()
plt.tight_layout()
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precip_data_df.describe()

In [19]:
# Design a query to show how many stations are available in this dataset?
station_data = session.query(station.station, 
                             station.name, 
                             station.longitude, 
                             station.latitude, 
                             station.elevation).all()
station_data_df = pd.DataFrame(station_data)
station_data_df['station'].count()

9

In [23]:
measurement_data = session.query(measurement.station, 
                             measurement.date, 
                             measurement.prcp, 
                             measurement.tobs).all()
measurement_data_df = pd.DataFrame(measurement_data)

In [41]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
merged_df = pd.merge(left=measurement_data_df, 
                       right=station_data_df, 
                       how='left', 
                       left_on='station', 
                       right_on='station')
merged_df.groupby('station').count().sort_values('id', ascending=False)

             date  prcp  tobs    id  name  longitude  latitude  elevation
station
USC00519281  2772  2772  2772  2772  2772       2772      2772       2772
USC00519397  2724  2685  2724  2724  2724       2724      2724       2724
USC00513117  2709  2696  2709  2709  2709       2709      2709       2709
USC00519523  2669  2572  2669  2669  2669       2669      2669       2669
USC00516128  2612  2484  2612  2612  2612       2612      2612       2612
USC00514830  2202  1937  2202  2202  2202       2202      2202       2202
USC00511918  1979  1932  1979  1979  1979       1979      1979       1979
USC00517948  1372   683  1372  1372  1372       1372      1372       1372
USC00518838   511   342   511   511   511        511       511        511

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`